ADFormazione2021/PartialArmTemplates/ArmTemplate_10_28_2020_22_25_21.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFormazione2021"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopySisal_withPowerQuery')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WranglingDataFlow1",
						"type": "ExecuteWranglingDataflow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "WranglingDataFlow1",
								"type": "DataFlowReference"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/WranglingDataFlow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copySisal_WithEventTrigger')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyActivity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Leggimetadati",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Mese dell'anno",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Mese",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Giorno della settimana",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GiornoSettimana",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Servizio",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Servizio",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Settimana",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Settimana",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Offerte",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Offerte",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Completate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Completate",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Servite",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Servite",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Servite e Completate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ServiteCompletate",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Servite Subito",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ServiteSubito",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Accodate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Accodate",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Accodate 0-10",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Accodate_0_10",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Accodate 10-20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Accodate_10_20",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Accodate 20-30",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Accodate_20_30",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Accodate 30-40",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Accodate_30_40",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Accodate 40-50",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Accodate_40_50",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Accodate 50-60",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Accodate_50_60",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Accodate 60-120",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Accodate_60_120",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Accodate 120-180",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Accodate_120_180",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Accodate 180-240",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Accodate_180_240",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Accodate oltre 240",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Accodate_Oltre_240",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Completate (abbandonata) in coda",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CompletateAbbandonataInCoda",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Abb. in coda 0-10",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AbbInCoda_0_10",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Abb. in coda 10-20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AbbInCoda_10_20",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Abb. in coda 20-30",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AbbInCoda_20_30",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Abb. in coda 30-40",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AbbInCoda_30_40",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Abb. in coda 40-50",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AbbInCoda_40_50",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Abb. in coda 50-60",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AbbInCoda_50_60",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Abb. in coda 60-120",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AbbInCoda_60_120",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Abb. in coda 120-180",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AbbInCoda_120_180",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Abb. in coda 180-240",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AbbInCoda_180_240",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InputExcel",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Notification",
						"description": "Connect to Microsys Framework for notification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api-master-msysfx.azurewebsites.net/api/Notification/Create",
							"method": "POST",
							"headers": {
								"msysfx-app-name": "Microsys.EAI",
								"msysfx-secret-key": "YzNCbGNtbGhiVzhnYzJsaElHRmlZbUZ6ZEdGdWVtRWdjMmxqZFhKdg=="
							},
							"body": {
								"value": "{\n  \"ApplicationName\": \"Microsys.EAI\",\n  \"FlowGroup\": \"INT_DATAFACTORY\",\n  \"FlowInstanceId\": \"@{pipeline().RunId} \",\n  \"FlowName\": \"@{pipeline().Pipeline}\",\n  \"FlowDescription\": \"AD Formazione 2021\",\n  \"MessageText\": \"@{activity('CopyActivity').Status}\",\n  \"MessageNote\": \"Some note\",\n  \"MessageCategory\": \"Error\",\n  \"MessageSeverity\": \"Error\",\n  \"SourceIdentifier\": \"DF\"\n} ",
								"type": "Expression"
							}
						}
					},
					{
						"name": "AggiornaBAM",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Notification",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": " https://api-master-msysfx.azurewebsites.net/api/Bam/WriteActivity?activityId=@{pipeline().RunId}&activityName=Report%20Inbound%20B2C",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"msysfx-app-name": "Microsys.EAI",
								"msysfx-secret-key": "YzNCbGNtbGhiVzhnYzJsaElHRmlZbUZ6ZEdGdWVtRWdjMmxqZFhKdg=="
							},
							"body": [
								{
									"FieldName": "instanceId",
									"FieldValue": "@{pipeline().RunId}"
								},
								{
									"FieldName": "File Name",
									"FieldValue": "@{activity('Leggimetadati').output.itemName}"
								},
								{
									"FieldName": "resultCode",
									"FieldValue": "Succeded"
								}
							]
						}
					},
					{
						"name": "Leggimetadati",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "InputExcel",
								"type": "DatasetReference"
							},
							"fieldList": [
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyActivity",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "InputExcel",
								"type": "DatasetReference"
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								},
								"path": "importazione"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					}
				],
				"parameters": {
					"SourcePath": {
						"type": "string"
					},
					"SourceFile": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Report Inbound_SisalPay B2C.csv",
						"fileSystem": "importazione"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Mese dell'anno",
						"type": "String"
					},
					{
						"name": "Giorno della settimana",
						"type": "String"
					},
					{
						"name": "Servizio",
						"type": "String"
					},
					{
						"name": "Giorno",
						"type": "String"
					},
					{
						"name": "Campagna di uscita Chiamata",
						"type": "String"
					},
					{
						"name": "Fascia 60'",
						"type": "String"
					},
					{
						"name": "Numero chiamante",
						"type": "String"
					},
					{
						"name": "Settimana",
						"type": "String"
					},
					{
						"name": "Offerte",
						"type": "String"
					},
					{
						"name": "Completate",
						"type": "String"
					},
					{
						"name": "Servite",
						"type": "String"
					},
					{
						"name": "Servite e Completate",
						"type": "String"
					},
					{
						"name": "Servite Subito",
						"type": "String"
					},
					{
						"name": "Accodate",
						"type": "String"
					},
					{
						"name": "Accodate 0-10",
						"type": "String"
					},
					{
						"name": "Accodate 10-20",
						"type": "String"
					},
					{
						"name": "Accodate 20-30",
						"type": "String"
					},
					{
						"name": "Accodate 30-40",
						"type": "String"
					},
					{
						"name": "Accodate 40-50",
						"type": "String"
					},
					{
						"name": "Accodate 50-60",
						"type": "String"
					},
					{
						"name": "Accodate 60-120",
						"type": "String"
					},
					{
						"name": "Accodate 120-180",
						"type": "String"
					},
					{
						"name": "Accodate 180-240",
						"type": "String"
					},
					{
						"name": "Accodate oltre 240",
						"type": "String"
					},
					{
						"name": "Completate (abbandonata) in coda",
						"type": "String"
					},
					{
						"name": "Abb. in coda 0-10",
						"type": "String"
					},
					{
						"name": "Abb. in coda 10-20",
						"type": "String"
					},
					{
						"name": "Abb. in coda 20-30",
						"type": "String"
					},
					{
						"name": "Abb. in coda 30-40",
						"type": "String"
					},
					{
						"name": "Abb. in coda 40-50",
						"type": "String"
					},
					{
						"name": "Abb. in coda 50-60",
						"type": "String"
					},
					{
						"name": "Abb. in coda 60-120",
						"type": "String"
					},
					{
						"name": "Abb. in coda 120-180",
						"type": "String"
					},
					{
						"name": "Abb. in coda 180-240",
						"type": "String"
					},
					{
						"name": "Tempo di coda Secs",
						"type": "String"
					},
					{
						"name": "Tempo di conversazione Chiamata",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://storageformazione2021.dfs.core.windows.net",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EventTriggerSisal')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "copySisal",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "copySisal_WithEventTrigger",
							"type": "PipelineReference"
						},
						"parameters": {
							"SourcePath": "@triggerBody().folderPath",
							"SourceFile": "@triggerBody().fileName"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/importazione/blobs/input",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/81c292d0-8976-4aa6-8c7c-a15141cda8df/resourceGroups/Formazione2021/providers/Microsoft.Storage/storageAccounts/storageformazione2021",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/copySisal_WithEventTrigger')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WranglingDataFlow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "DelimitedText1",
							"script": "",
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							}
						}
					],
					"sinks": [
						{
							"name": "Sink1",
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"script": "sink(input(\n\t\tcampoStringa as string,\n\t\tcampoIntero as short,\n\t\tcampoFormula as string,\n\t\tcampoNumericoconFormula as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Sink1"
						}
					],
					"script": "section Section1;\r\nshared DelimitedText1 = let\r\n  AdfDoc = AzureStorage.DataLakeContents(\"https://storageformazione2021.dfs.core.windows.net/importazione/Report Inbound_SisalPay B2C.csv\"),\r\n  Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]),\r\n  PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true])\r\nin\r\n  PromotedHeaders;\r\nshared UserQuery = let\r\n  Source = DelimitedText1\r\nin\r\n  Source;\r\n"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]"
			]
		}
	]
}